In [36]:
import pandas as pd
import matplotlib.pyplot as plt

In [37]:
df = pd.read_csv('Chicago_Public_Schools_-_Progress_Report_Cards__2011-2012_.csv')

In [38]:
df.head(2)

,School ID,Name of School,"Elementary, Middle, or High School",Street Address,City,State,ZIP Code,Phone Number,Link,Network Manager,...,RCDTS Code,X_COORDINATE,Y_COORDINATE,Latitude,Longitude,Community Area Number,Community Area Name,Ward,Police District,Location
0,609966,Charles G Hammond Elementary School,ES,2819 W 21st Pl,Chicago,IL,60623,(773) 535-4580,http://schoolreports.cps.edu/SchoolProgressRep...,Pilsen-Little Village Elementary Network,...,150000000000000,1157809.015,1889554.623,41.852691,-87.696278,30,SOUTH LAWNDALE,12,10,"(41.85269133, -87.69627777)"
1,610539,Marvin Camras Elementary School,ES,3000 N Mango Ave,Chicago,IL,60634,(773) 534-2960,http://schoolreports.cps.edu/SchoolProgressRep...,Fullerton Elementary Network,...,150000000000000,1137482.296,1919394.900,41.934966,-87.770165,19,BELMONT CRAGIN,30,25,"(41.93496641, -87.77016525)"

In [41]:
df.drop(['School ID', 'Name of School','Street Address', 'City', 'State', 'ZIP Code', 'Phone Number', 'Link ',
        'Network Manager', 'Collaborative Name', 'Adequate Yearly Progress Made? ',
        'Safety Icon ', 'Family Involvement Icon', 'Environment Icon ', 'Instruction Icon ',
         'Leaders Icon ', 'Leaders Icon ','Teachers Icon ', 'Parent Engagement Icon ',
         'Parent Environment Icon', 'RCDTS Code', 'Ward','Police District',
       'X_COORDINATE', 'Y_COORDINATE', 'Latitude', 'Longitude',
       'Community Area Number', 'Community Area Name', 'Location'], axis=1, inplace=True)

In [42]:
df.columns

Index(['Elementary, Middle, or High School', 'Track Schedule',
       'CPS Performance Policy Status', 'CPS Performance Policy Level',
       'Healthy Schools Certified?', 'Safety Score',
       'Family Involvement Score', 'Environment Score', 'Instruction Score',
       'Leaders Score ', 'Teachers Score', 'Parent Engagement Score',
       'Parent Environment Score', 'Average Student Attendance',
       'Rate of Misconducts (per 100 students) ', 'Average Teacher Attendance',
       'Individualized Education Program Compliance Rate ', 'Pk-2 Literacy %',
       'Pk-2 Math %', 'Gr3-5 Grade Level Math %', 'Gr3-5 Grade Level Read % ',
       'Gr3-5 Keep Pace Read %', 'Gr3-5 Keep Pace Math %',
       'Gr6-8 Grade Level Math %', 'Gr6-8 Grade Level Read %',
       'Gr6-8 Keep Pace Math%', 'Gr6-8 Keep Pace Read %',
       'Gr-8 Explore Math %', 'Gr-8 Explore Read %', 'ISAT Exceeding Math %',
       'ISAT Exceeding Reading % ', 'ISAT Value Add Math',
       'ISAT Value Add Read', 'ISAT Value Add Color Math',
       'ISAT Value Add Color Read', 'Students Taking  Algebra %',
       'Students Passing  Algebra %', '9th Grade EXPLORE (2009) ',
       '9th Grade EXPLORE (2010) ', '10th Grade PLAN (2009) ',
       '10th Grade PLAN (2010) ', 'Net Change EXPLORE and PLAN',
       '11th Grade Average ACT (2011) ', 'Net Change PLAN and ACT',
       'College Eligibility %', 'Graduation Rate %',
       'College Enrollment Rate %', 'College Enrollment (number of students) ',
       'General Services Route ', 'Freshman on Track Rate %'],
      dtype='object')

In [45]:
high_school = ['Elementary, Middle, or High School', 'CPS Performance Policy Status', 'CPS Performance Policy Level', 'Safety Score',
       'Environment Score', 'Instruction Score',
       'Leaders Score ', 'Teachers Score', 'Parent Engagement Score',
       'Parent Environment Score', 'Average Student Attendance',
       'Rate of Misconducts (per 100 students) ', 'Average Teacher Attendance',
       '9th Grade EXPLORE (2009) ', '9th Grade EXPLORE (2010) ', '10th Grade PLAN (2009) ',
       '10th Grade PLAN (2010) ', 'Net Change EXPLORE and PLAN',
       '11th Grade Average ACT (2011) ', 'Net Change PLAN and ACT',
       'College Eligibility %', 'Graduation Rate %',
       'College Enrollment Rate %', 'College Enrollment (number of students) ',
       'General Services Route ', 'Freshman on Track Rate %']

high_school = df[high_school]
high_school = high_school[high_school["Elementary, Middle, or High School"] == 'HS']
high_school.to_csv('high_school.csv', index=False)

In [46]:
high_school.head(2)

,"Elementary, Middle, or High School",CPS Performance Policy Status,CPS Performance Policy Level,Safety Score,Environment Score,Instruction Score,Leaders Score,Teachers Score,Parent Engagement Score,Parent Environment Score,...,10th Grade PLAN (2010),Net Change EXPLORE and PLAN,11th Grade Average ACT (2011),Net Change PLAN and ACT,College Eligibility %,Graduation Rate %,College Enrollment Rate %,College Enrollment (number of students),General Services Route,Freshman on Track Rate %
8,HS,Not on Probation,Level 1,98.0,80.0,77.0,NDA,NDA,NDA,NDA,...,23.2,2,27,3.9,96.4,96.9,82.4,881,33,90.7
15,HS,Probation,Level 3,41.0,43.0,31.0,19,32,NDA,NDA,...,13,0.8,13.8,0.5,6.7,49,51.9,599,37,59.3

In [49]:
samples = ['Safety Score','Environment Score', 'Instruction Score']
samples = high_school[samples]

In [50]:
samples.head(3)

    Safety Score  Environment Score  Instruction Score
8           98.0               80.0               77.0
15          41.0               43.0               31.0
17          99.0               99.0               88.0

In [51]:
from sklearn.cluster import KMeans
model = KMeans(n_clusters=3)
model.fit(samples)

labels = model.predict(samples)

ValueError: Input X contains NaN.
KMeans does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values

In [ ]:
labels